.cover-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-wrapper-inner {
  vertical-align: middle;
}

.footer,
.cover-container {
  width: 100%; /* Must be percentage or pixels for horizontal alignment */
}

.footer {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 0;
  right: 0;
}
